{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                {% for error in errors %}
                    <p class="m-0">{{ error.message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}
